/**
 * Anotações da Estrutura do Grid Layout
 * 
 * AC = Acumulado
 * TR = Tempo da rodada
 * PR = Prêmios
 * CR = Cartelas
 * CP = Cartela Principal
 * 
 * É uma grid e 2 linhas e 3 colunas.
 */


#layout {
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.4fr;
  grid-template-rows: 100px auto;
  gap: 5px 5px;
  grid-template-areas: 
  'AC AC TR'
  'PR CR CP';
  

  height: 100vh;
  width: 100%;
  min-width: 500px;

  padding: 7px;

  background-color: #cecece;
}

@media (max-width: 1000px) {
  #layout {
   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px auto;
    gap: 5px 5px;
    grid-template-areas: 
    'AC AC AC'
    'TR TR TR'
    'PR CR CP';
    
  
    height: 100vh;
    width: 100%;
  
    padding: 7px;
  }
    
}


/* =================================== CABEÇALHO */

div.box-value-primary {
  -webkit-box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,0.66);
  -moz-box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,0.66);
  box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,0.66);

  background-color: var(--secondary);
}

section#accumulated {
  grid-area: AC;
}

div.accumulated-box {
  width: 100%;
  height: 100px;
  border-radius: 5px;

  background-color: var(--primary);

  display: flex;
  justify-content: space-between;

  padding: 10px;
}

div.accumulated-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}

div.accumulated-box-right > span {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);

}


div.accumulated-box-right > div {
  width: 80px;
  height: 50px;
  border-radius: 5px;

  margin: 5px 0;

  text-align: center;
  line-height: 50px; 
}

div.accumulated-box-right > div span {
  font-size: 2rem;
  color: var(--light);
  font-weight: 500;
}

div.accumulated-box-left {
  flex: 1;
  display: flex;
  justify-content: space-between;

  background-color: var(--secondary);
  
  border-radius: 5px;

  -webkit-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 5px 2px rgba(0,0,0,0.75);
}

div.accumulated-box-left  div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

div.accumulated-box-left  div > footer {
  background-color: var(--primary);
  border-color: var(--secondary);
  
  border-top-right-radius: 10px;
  padding: 5px;

  min-width: 160px;
}

div.accumulated-box-left  div > footer > div {
  height: 35px;  
  
  padding-left: 5px;

  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  
  background-color: var(--ninth);
  color: var(--white);
  
  border-radius: 5px;
  border: 2px solid var(--white);
  
  text-transform: uppercase;
  font-weight: 700;

  
}

div.accumulated-box-left  div > footer span:last-child{
  flex: 1;
  text-align: center;

  font-size: 1.5rem;
  background-color: var(--eighth);
  padding: 3px 10px;

  border-radius: 3px;
  margin-left: 3px;
}

div.accumulated-box-left  div > h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--tenth);
  text-transform: uppercase;

  line-height: 2.5rem;
  margin-left: 10px;
}

div.accumulated-box-left  div + div {
  height: 80px;
  line-height: 80px;
  
}


div.accumulated-box-left  div + div > span{
  color: var(--light);
  font-size: 4rem;
  font-weight: 500;
  margin-right: 15px;
}


section#round-time {
  grid-area: TR;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.round-time-box {
  height: 100px;
  
  flex: 1;
  margin-right: 5px;
  padding: 7px;

  text-align: center;

  border-radius: 5px;
  background-color: var(--primary);
}

div.round-time-box:last-child {
  margin-right: 0;
}

div.round-time-box > span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

div.round-time-box > div {
  font-size: 2rem;
  font-weight: 700;
  
  border-radius: 5px;
  margin-top: 5px;
  padding: 12px 10px;

  background-color: var(--secondary);

  display: flex;
  align-items: center;
  justify-content: center;
}



/* =================================== CARTELA DE SORTEIO PRINCIPAL */
section#main-card {
  grid-area: CP;
}

section#main-card > header {
  border-radius: 10px;

  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white);

  margin-bottom: 5px;
} 

section#main-card > header h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  
  text-align: center;
  padding: 15px 0;

}


section#main-card table {
  width: 100%;
  height: 75vh;
  border-radius: 5px;

  background-color: var(--tenth);

}


section#main-card table tbody {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px;
}

section#main-card table tbody tr {
  height: 12.5%;

  display: flex;
  justify-content: space-between;
}

section#main-card table tbody tr td {
  width: 10%;
  height: 100%;
  
  border-radius: 5px;
  text-align: center;

  color: var(--black);

  font-weight: 700;
  font-size: 2.3rem;

  border: 3px solid var(--tenth);

  -webkit-box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,0.63);
  -moz-box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,0.63);
  box-shadow: inset 3px 3px 5px 3px rgba(0,0,0,0.63);

  display: flex;
  justify-content: center;
  align-items: center;
}


/* =================================== PRÊMIOS */
section#awards {
  height: 84.5vh;
}

div#awards-box {
  background-color: var(--senary);
  border-radius: 5px;

  padding: 10px 15px;
  height: 50%;
}

div.awards-box-position div:first-child {
  position: relative;
  bottom: -.6rem;
}

div.awards-box-position div:first-child span{
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;

  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 50%;


}

div.awards-box-position div:first-child strong {
  font-size: 1.5rem;
  font-weight: 500;
}

div.awards-box-position div:last-child{
  background-color: var(--dark-senary);
  border: 2px solid var(--black);

  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  padding: 7px 0;
  text-align: center;
}

div#people {
  background-color: black;
  border-radius: 5px;

  padding: 3px;
  height: 50%;
  overflow-y: scroll;
}

div#people > ul {
  width: 100%;
}

div#people > ul li{
  display: flex;
  align-items: center;

  margin: 3px 0;
}

div#people > ul li strong {
  color: white;

  display: inline-block;
  width: 170px;

  overflow: hidden;
}

div#people > ul li span {

  color: var(--black);
  background-color: var(--white);
  font-weight: 700;
  
 
  margin-left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}



/* =================================== CARTELAS */

section#cards {
  width: 100%;
}

div#last-balls {
  background-color: var(--black-transparent);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--white);
}



div.last-balls-details > h2 {
  font-size: 1.3rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;

  text-align: center;
  margin-bottom: 10px;
}

div.last-balls-details > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.previous-ball {
  width: 70px;
  height: 70px;
  border-radius: 35px;

  border-width: 8px;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
  box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
}

div.previous-ball span {
  font-weight: 700;
  font-size: 28px;
}



div.current-ball {
  width: 170px;
  height: 170px;
  border-radius: 85px;

  background: var(--ninth);
  background: radial-gradient(circle, var(--white) 0%, var(--ninth) 100%);

  border: 17px solid var(--quaternary);

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
  box-shadow: inset 0px 1px 8px 3px rgba(0,0,0,0.74);
}

div.current-ball span {
  font-size: 80px;
  font-weight: 700;
}


div.last-balls-details footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
  
  max-width: 280px;
}

div.last-balls-details footer span{
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

div.last-balls-details footer div{
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);
  box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);

  
}

div.last-balls-details footer div span{
  color: var(--light);
  font-size: 2.5rem;
}


div#best-cards > header {
  background-color: var(--ninth);
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;

  -webkit-box-shadow: inset 0px 1px 3px 3px var(--eighth);
  -moz-box-shadow: inset 0px 1px 3px 3px var(--eighth);
  box-shadow: inset 0px 1px 3px 3px var(--eighth);
}

div#best-cards > header h2 {
  color: var(--white);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

div#best-cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  height: 49vh;
  overflow-y: scroll;

}

div.card {
  width: 45%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;

}

div.card header{  
  width: 100%;
  background-color: var(--quinary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.card header h2{
  color: var(--white);
  padding: 7px 2px;
  text-align: center;
  font-weight: 500;
}


div.card table {
  width: 100%;
}

div.card table tbody tr td {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;

  font-size: 1.2rem;
  border: 1px solid var(--black);
}