@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.blink-animation {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}