@keyframes zoom-out {
  0%{
  transform: scale(1);
  }
  100%{
  transform: scale(0);
  }
}

.zoom-out-animation {
  -webkit-animation: zoom-out .75s cubic-bezier(.45,.34,.38,1.14);
   -moz-animation: zoom-out .75s cubic-bezier(.45,.34,.38,1.14);
   -ms-animation: zoom-out .75s cubic-bezier(.45,.34,.38,1.14);
   -o-animation: zoom-out .75s cubic-bezier(.45,.34,.38,1.14);
   animation: zoom-out .75s cubic-bezier(.45,.34,.38,1.14);
}


@keyframes zoom-in {
  0%{
  transform: scale(0);
  }
  100%{
  transform: scale(1);
  }
}

.zoom-in-animation {
  -webkit-animation: zoom-in .75s cubic-bezier(.45,.34,.38,1.14);
   -moz-animation: zoom-in .75s cubic-bezier(.45,.34,.38,1.14);
   -ms-animation: zoom-in .75s cubic-bezier(.45,.34,.38,1.14);
   -o-animation: zoom-in .75s cubic-bezier(.45,.34,.38,1.14);
   animation: zoom-in .75s cubic-bezier(.45,.34,.38,1.14);
}
