@keyframes zoom-in {
  0%{
  transform: scale(0);
  }
  100%{
  transform: scale(1);
  }
}

.zoom-in-animation {
  -webkit-animation: zoom-in .75s cubic-bezier(.66,.29,.57,.99);
   -moz-animation: zoom-in .75s cubic-bezier(.66,.29,.57,.99);
   -ms-animation: zoom-in .75s cubic-bezier(.66,.29,.57,.99);
   -o-animation: zoom-in .75s cubic-bezier(.66,.29,.57,.99);
   animation: zoom-in .75s cubic-bezier(.66,.29,.57,.99);
}
