:root {
  --primary: #1A5C68;
  --secondary: #0E3B42;
  --tertiary: #005878;
  --quaternary: #1D87B7;

  --quinary: #055902;
  --senary: #77D932;
  --dark-senary: #12830D;
  
  --eighth:#04258E;
  --ninth: #4859CB;
  --tenth: #39B0AD;
  
  --white: #fff;
  --black: #000;
  --gray: #8a8c90;
  --dark-gray: #84A3BF;

  
  --light: yellow;
  --warning: #FF0020;
  --spotlight: #FF0099;
  --alert: #FF8707;


  --black-transparent: rgba(0,0,0,.7);
  --linear-gradient-bottom-top: linear-gradient(188deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
}