.color-senary {
  color: var(--senary);
}

.color-quaternary {
  color: var(--quaternary);
}

.color-light {
  color: var(--light);
}

.color-warning {
  color: var(--warning);
}

.color-white {
  color: var(--white);
}

.bg-color-white {
  background-color: var(--white);
}

.bg-color-light {
  background-color: var(--light);
}

.bg-color-quinary {
  background-color: var(--quinary);
}

.bg-color-dark-senary {
  background-color: var(--dark-senary);
}

.bg-color-tertiary {
  background-color: var(--tertiary);
}

.bg-color-spotlight {
  background-color: var(--spotlight);
}


.border-color-spotlight {
  border-color: var(--spotlight);

}

.bg-color-alert {
  background-color: var(--alert);
}


.border-color-quaternary{
  border-color: var(--quaternary);
}

.border-color-warning{
  border-color: var(--warning);
}

.border-color-alert{
  border-color: var(--alert);

  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

}


.bg-gradient-alert {
  background: var(--alert);
  background: radial-gradient(circle, var(--white) 0%, var(--alert) 100%);
}

.bg-gradient-warning {
  background: var(--warning);
  background: radial-gradient(circle, var(--white) 0%, var(--warning) 100%);
}
