div#last-balls {
  background-color: var(--black-transparent);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--white);
}



div.last-balls-details > h2 {
  font-size: 1.3rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;

  text-align: center;
  margin-bottom: 10px;
}

div.last-balls-details > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.previous-ball {
  width: 70px;
  height: 70px;
  border-radius: 35px;

  background-color: var(--black);

}

div.previous-ball > div {
  font-weight: 700;
  font-size: 28px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  border-radius: 35px;

  background-size: cover;
  background-position: top left;
 
}




div.previous-no-ball {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  
  background-color: var(--black-transparent);
  -webkit-box-shadow: 0px 1px 3px 3px var(--black);
  -moz-box-shadow: 0px 1px 3px 3px var(--black);
  box-shadow: 0px 1px 3px 3px var(--black);

  text-align: center;
  color: var(--black);
}



div.current-ball {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  background: var(--black);


}


div.current-ball div {
  font-size: 80px;
  font-weight: 700;

  width: 170px;
  height: 170px;
  border-radius: 85px;


  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: top left;
}

div.current-no-ball {
  width: 170px;
  height: 170px;
  border-radius: 85px;

  background-color: var(--black-transparent);
  -webkit-box-shadow: 0px 1px 3px 3px var(--black);
  -moz-box-shadow: 0px 1px 3px 3px var(--black);
  box-shadow: 0px 1px 3px 3px var(--black);

  text-align: center;
  color: var(--black);
}





div.last-balls-details footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
  
  max-width: 280px;
}

div.last-balls-details footer span{
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;

  padding: 0 5px;
}

div.last-balls-details footer div{
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);
  box-shadow: inset 0px 1px 3px 3px rgba(0,0,0,0.74);

  
}

div.last-balls-details footer div span{
  color: var(--light);
  font-size: 2.5rem;
}




div.bola-amarela {
  background: url(../../img/bolas/amarela.png);
}

div.bola-azul-claro {
  background: url(../../img/bolas/azul_claro.png);
}

div.bola-azul {
  background: url(../../img/bolas/azul.png);
}

div.bola-laranja {
  background: url(../../img/bolas/laranja.png);
}

div.bola-lilas {
  background: url(../../img/bolas/lilas.png);
}

div.bola-verde-claro {
  background: url(../../img/bolas/verde_claro.png);
}

div.bola-verde {
  background: url(../../img/bolas/verde.png);
}

div.bola-vermelha {
  background: url(../../img/bolas/vermelha.png);
}

div.bola-rosa {
  background: url(../../img/bolas/rosa.png);
}



