
div.round-time-box {
  height: 100px;
  
  flex: 1;
  margin-right: 5px;
  padding: 7px;

  text-align: center;

  border-radius: 5px;
  background-color: var(--primary);
}

div.round-time-box:last-child {
  margin-right: 0;
}

div.round-time-box > span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

div.round-time-box > div {
  font-size: 2rem;
  font-weight: 700;
  
  border-radius: 5px;
  margin-top: 5px;
  padding: 12px 10px;

  background-color: var(--secondary);

  display: flex;
  align-items: center;
  justify-content: center;
}
