@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

div.spinner {
  border: 25px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--spotlight);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 3s linear infinite;
}


