div#times-message {
  flex: 1;
  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 5px solid var(--primary);
  border-radius: 5px;
}

div#times-message span{
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}