/*
  Anotações do Grid Layout

  HD - Header
  AS - Aside
  MN - Main
  FT - Footer
*/


section#content {
  display: grid;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: .3fr 2.4fr 1fr;
  gap: 5px 5px;
  grid-template-areas: 
  'HD HD'
  'AS MN'
  'FT FT';

  height: calc(100vh - 120px);
  width: 100%;

  
  background: var(--linear-gradient-bottom-top);
  border-radius: 10px;
  padding: 10px;
}

header {
  grid-area: HD;

  background: url(../../img/propagandas.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin: 7px 0;

}

aside#sponsors {
  grid-area: AS;

  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


aside#sponsors img{
  width: 250px;
  height: 150px;

  border: 3px solid var(--white);
}


article {
  grid-area: MN;
  display: flex;
}

article#spotlight img{
  height: 100%;
  max-width: 100%;
  border: 3px solid var(--white);
}

footer#others {
  grid-area: FT;
  display: flex;
  justify-content: space-between;
}

footer#others img{
  height: 150px;
  width: 250px;

  border: 3px solid var(--white);
}

div#sponsors-title {
  width: 90%;
  height: 50px;
  padding: 10px;
  
  background: url(../../img/patrocinadores.png);
  background-repeat: no-repeat;
  background-size: contain;
}