section#content {
  display: grid;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  gap: 5px 5px;
  grid-template-areas: 
  'HD'
  'CT';

  height: calc(100vh - 120px);
  width: 100%;
  
  background: var(--linear-gradient-bottom-top);
  border-radius: 10px;
  padding: 10px;

  position: relative;  
}

header {
  grid-area: HD;
  
  background: url(../../img/rodadas_especiais.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin: 10px 0;
}

div#last-time {
  grid-area: CT;
  overflow-y: scroll;
}

div#last-time table {
  width: 100%;
}

div#last-time table thead tr th span:first-child{
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
}


div#last-time table thead {
  background-color: var(--black-transparent);
  color: var(--white);
}


div#last-time table thead tr th span{
  display: block;
  font-size: .9rem;
  font-weight: 500;
}

div#last-time table td {
  text-align: center;
  color: var(--white);
}

div#last-time table tbody tr td{
  padding: 10px 0;
}

div#last-time table tbody tr {
  background: var(--ninth); 
}

div#last-time table tbody tr:nth-of-type(odd) { 
  background: var(--dark-gray); 
}


div#message {
  position: absolute;  
  top: 53%;
  left: 15%;

  background-color: var(--black-transparent);
  padding: 20px;
  border-radius: 10px;
}

div#message span {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}