div#layout {
  width: 100%;
  height: 100vh;

  background: url(../../img/background.png);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#layout h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--quaternary);
  text-transform: uppercase;
  text-align: center; 
  
  margin-bottom: 30px;
}

div#load-box {
  border: 2px solid var(--quaternary);
  padding: 30px;
  border-radius: 5px;
  background-color: var(--black-transparent);

  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 20px;
}

div#load-box > h2 {
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;

  font-size: 2rem;
}

div.loader {
  position: relative;
}

div.loader span{
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);

  position: absolute;
  top: 120px;
  left: 70px;
  z-index: 1;
}

div#info {
  margin-top: 15px;
  min-width: 50%;
  display: flex;
  justify-content: space-between;
}


div#main-container {
  display: flex;
  align-items: flex-end;
}


div.accumulate-box {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px;
}

div.accumulate-box > span {
  font-size: 1.3rem;
  color: var(--green-light);
  font-weight: bold;
  text-transform: uppercase;
  
}

div.accumulate-box > div {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  margin-top: 5px;
  color: var(--green-light);
}

div.accumulate-box > footer {
  font-weight: 700;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.accumulate-box > footer span {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

div.accumulate-box > footer div {
  font-weight: 700;
  color: var(--white);
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;

  margin-top: 10px;
}